* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: aliceblue;
}

header {
    background-color: black;
    height: 80px;
    width: 100%;
    position: relative;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s;
}

header a.active,
header a:hover {
    color: #00e0ff;
    border-bottom: 2px solid #00e0ff;
}

.main {
    color: aliceblue;
    position: absolute;
    left: 3vw;
    top: 0;
    line-height: 80px;
}

.container {
    display: flex;
    min-height: 80vh;
}

.sidebar {
    width: 200px;
    background: #333;
    padding: 30px 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.content {
    flex: 1;
    padding: 30px;
}

footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 20px 0;
}

.fade {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade.hidden {
  opacity: 0;
}
